<html>
    <head>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style%>
        <title>
            Hero main
        </title>
    </head>
    <body>
        <%- include('_header');%>
        <%- body %>
        <%- include('_footer');%>

        <%- script%>
    </body>
    </html>